.div__titulo {
	position: fixed;
	width: 100%;
	padding-top: 75px;
	border: 2px solid red;
}

.produtos__todos__container {
	margin-top: 125px;
	width: 100%;
	margin-inline: auto;
	padding: 1rem;
}

.cards-wrapper--todos {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;	
	padding-inline: 1rem;
}

.cards-wrapper--todos .card {
	width: 200px;
}
.cards-wrapper--todos .card-img  {
	width: 200px;
	height: 300px;
}
.cards-wrapper--todos .card-img img {
	width: 200px;
	height: 300px;
}

@media (max-width: 730px) {
	.cards-wrapper--todos .card {
		width: 300px;
	}
	.cards-wrapper--todos .card-img  {
		height: 450px;
		width: 300px;
	}
	.cards-wrapper--todos .card-img img {
		height: 450px;
		width: 300px;

	}

	.produtos__todos__container {
	margin-top: 150px;
	}
}


